<div *ngIf="!path">
  <h1>La Flamme Olympique</h1>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit tortor a venenatis dictum. Vivamus risus mi, mollis
  sed dictum quis, maximus ac eros. Ut dignissim velit luctus, cursus tortor ut, faucibus urna. Nulla auctor, neque nec dignissim
  vehicula, metus purus bibendum sem, vitae congue neque turpis ut lorem. Cras aliquam id orci a bibendum. Maecenas a dignissim
  lacus, eget molestie ex. Aenean ut tempor urna. Suspendisse ullamcorper lacus eu diam faucibus, eu vehicula erat feugiat.
  Pellentesque luctus, magna in posuere iaculis
  <a routerLink="">Démarrer l'experience</a>
</div>
