@import './variables';
@import './mixins';
@import './reset';

body{
  background-color: black;
  font-family: Montserrat;
  color:#FFF;
}

a{
  color:#FFF;
  cursor: pointer;
  &:hover{
    color: rgb(53, 111, 236)
  }
}


